<!DOCTYPE html>

{{ template "partials/head.html" . }}

  <body>

    {{ template "partials/nav.html" . }}


    <main class="container">
      <p class="mt-5"><em>
	This is a single archived entry from Stefan Tilkov’s blog. For more up-to-date content,
	check out my <a href="https://www.innoq.com/en/staff/stefan-tilkov/">author page at INNOQ</a>,
	which has more information about me and also contains a list of published talks, podcasts, and articles.
	Or you can check out the <a href="/blog/st/">full archive</a>.

      </em></p>
      <article>
	<header>
          <h1>{{ .Title }}</h1>
	  <p><small><a href="https://www.innoq.com/en/staff/stefan-tilkov/">Stefan Tilkov</a>, <time datetime="2017-06-26">{{ .Date.Format "Jan 2, 2006" }}</time></small><p>
	</header>
	<section>
	  {{ .Content }}
	</section>
      </article>
    </main>

  </body>
</html>


