
// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

// ---------------------------------------------------------------------------
// Font Definitions
// ---------------------------------------------------------------------------

@font-face {
  font-family: 'MetaWebBold';
  src: font-url('MetaWeb-Bold.eot'),
  font-url('MetaWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'MetaWebNormal';
  src: font-url('MetaWeb-Normal.eot'),
  font-url('MetaWeb-Normal.woff') format('woff');
}

@font-face {
  font-family: 'MetaWebMedium';
  src: font-url('MetaWeb-Medium.eot'),
  font-url('MetaWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: 'MetaWebThin';
  src: font-url('MetaWeb-Thin.eot'),
  font-url('MetaWeb-Thin.woff') format('woff');
}

@font-face {
  font-family: 'MetaWebLight';
  src: font-url('MetaWeb-Light.eot'),
  font-url('MetaWeb-Light.woff') format('woff');
}

@font-face {
  font-family: 'MetaSerifWebLight';
  src: font-url('MetaSerifWeb-Light.eot'),
  font-url('MetaSerifWeb-Light.woff') format('woff');
}

@font-face {
  font-family: 'MetaSerifWebLightItalic';
  src: font-url('MetaSerifWeb-LightItalic.eot'),
  font-url('MetaSerifWeb-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'MetaSerifWebMedium';
  src: font-url('MetaSerifWeb-Medium.eot'),
  font-url('MetaSerifWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: 'MetaSerifWebMediumItalic';
  src: font-url('MetaSerifWeb-MediumItalic.eot'),
  font-url('MetaSerifWeb-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'MetaScWebNormal';
  src: font-url('MetaScWeb-Normal.eot'),
  font-url('MetaScWeb-Normal.woff') format('woff');
}

@font-face {
  font-family: 'DroidSansMono';
  src: font-url('DroidSansMono.eot'),
  font-url('DroidSansMono.woff') format('woff');
}


$sans: MetaWebLight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: MetaSerifWebLight, Georgia, Times, 'Times New Roman', serif;
$heading-font-size: 20px;
$heading-font-family: MetaWebNormal, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-color: rgb(68,68,68)
